transformers
torch
numpy
pandas
scikit-learn
ipython
ipykernel
ipython_genutils
seaborn
matplotlib
datasets
accelerate
imbalanced-learn
sentence_transformers
google-genai
dotenv
tenacity
#sqlalchemy
#psycopg2
openai
jpype1
sentencepiece
jinja2